[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
openai = "*"
python-dotenv = "*"
python-jose = "*"
firebase-admin = "*"
google-cloud-storage = "*"
python-multipart = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
